/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 50%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .custom-map-control-button {
        appearance: button;
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        margin: 10px;
        padding: 0 0.5em;
        height: 40px;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
      }
      .custom-map-control-button:hover {
        background: #ebebeb;
      }

      
      #map {
          grid-area: 'map';
        height: 50%;
      }
      
      #restaurantsList > div{
        border: 5px solid black;
        margin-bottom: 15px;
      }

      .hide {
        display: none;
      }
      .active {
        display: block;
    }


      /* ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

      }
      
      li {
        background-color: #f1f1f1;
        padding: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.25rem;
        cursor: pointer;
      }
      
      li:nth-child(odd) {
        background-color: #fcfcfc;
      }
      
      button {
        width: 100%;
        padding: 1rem;
        cursor: pointer;
        background: #1a73e8;
        font-size: 1.5rem;
        color: white;
        border: none;
      }
      
      button:hover {
        color: #c5d4f0;
      }
      
      button:disabled {
        background-color: #9fc1ee;
        color: #c5d4f0;
        cursor: auto;
      } */
/* 
      .rest_img{
        max-height: 300px;
        max-width: 90%;
      }
      .fa-plus-square{
        color: #1a73e8;
        cursor: pointer;
      }
      .fa-minus-square{
        color: red;
        cursor: pointer;
        float: right;
      } */