body {
    overflow-x: hidden;
    margin: 10px;
}
.active {
    color: cornflowerblue;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

#imageBg {
    margin-top: 8px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../images/searchBg.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.searchBar {
    position: absolute;
    width: 70%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.browse {

    font-weight: 800;
}